<div class="footerMain">
    <div class="footerMainLinks">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="afterFLLinks">
                  <h3>{{'Quick Links' | translate}}</h3>
                  <ul>
                    <li><a routerLink="/search">{{'Jobs' | translate}}</a></li>
                    <li><a routerLink="/about">{{'About us' | translate}}</a></li>
                    <!-- <li><a routerLink="/contact">Contact Us</a></li> -->
                    <li><a routerLink="/help">{{'Help/FAQ' | translate}}</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="afterFLLinks">
                  <h3>{{'Legal Info' | translate}}</h3>
                  <ul>
                    <li><a href="javascript:;">{{'Privacy Centre' | translate}}</a></li>
                    <li><a href="javascript:;">{{'Cookies' | translate}}</a></li>
                    <li><a href="javascript:;">{{'Privacy' | translate}}</a></li>
                    <li><a href="javascript:;">{{'Terms' | translate}}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-6">
            <div class="logoFooter">
              <a>
                <img src="./assets/images/logoFooter.png" class="img-fluid" />
              </a>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <!-- <div class="footerNewsletter">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 col-xl-4">
  
                <div class="fnRight">
                  <form>
                    <div class="fnTitle2">Join Us On</div>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Your Email" aria-label="Your Email..."
                        aria-describedby="button-addon2" />
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Subscribe</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-6 col-xl-8">
                <div class="">
                  <div class="fmeLinks text-right">
                    <div class="fnTitle2">Connect With Us</div>
                    <ul>
                      <li><a href="javascript:;"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-linkedin"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="footerMainEnd">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="fmeCopy text-center">
              <span>Copyright 2022 Job Portal | All Rights Reserved</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>