<div id="loader" *ngIf="loading"></div>

<app-header2></app-header2>
<div class="mainHeaderInner loginPages">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <div class="mainPageTitle">
          <h1>{{'Reset your password' | translate}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="midContent loginPage">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="loginPagesBox">
          <form class="contactPage" [formGroup]="form" (submit)="submit()">
            <div class="row">
              <h5 *ngIf="action == 2">
                {{form.value.email}}
              </h5>
              <div class="col-md-12 mb-3" [hidden]="action == 2">
                <label for="logUserName" class="form-label">{{'Email' | translate}} <span class="error">*</span></label>
                <input type="text" class="form-control" id="logUserName" placeholder="{{'Enter Email' | translate}}"
                  formControlName="email" name="email" />
                <div class="error">
                  <div *ngIf="form.controls.email.touched && form.controls.email.hasError('required')">
                    {{'Email is required' | translate}}
                  </div>
                  <div *ngIf="form.controls.email.dirty && form.controls.email.errors">
                    {{'Invalid Email' | translate}}
                  </div>
                </div>
              </div>
              <div class="col-md-12 mb-3" [hidden]="action == 1">
                <label for="logUserName" class="form-label">{{'Code' | translate}} <span class="error">*</span></label>
                <input type="text" class="form-control" id="logUserName" placeholder="{{'Enter Code' | translate}}"
                  formControlName="token" name="token" />
              </div>
              <div class="col-md-12 mb-3" [hidden]="action == 1">
                <label for="cpPassword" class="form-label">{{'Password' | translate}} <span class="error">*</span></label>
                <input type="password" class="form-control" id="cpPassword" placeholder="{{'Enter New Password' | translate}}"
                  formControlName="password" name="password" />
                <div class="error">
                  <div *ngIf="form.controls.password.touched && form.controls.password.hasError('required')">
                    {{'Password is required' | translate}}
                  </div>
                  <div *ngIf="form.controls.password.dirty && form.controls.password.errors">
                    {{'Password atleast 6 words' | translate}}
                  </div>
                </div>
              </div>
              <div class="col-md-12">
              <button type="submit" class="swButton darkBtn mt-3 loginButton" [disabled]="loading">
                <span *ngIf="!loading">{{'Submit' | translate}}</span>
                <span *ngIf="loading">{{'Please wait..' | translate}}</span>
              </button>
              </div>
            </div>
          </form>
          <div class="loginFormBtmSec">
            <div class="haveAccount">
              <!-- <span *ngIf="action == 1">Remembered password <a routerLink="/login">Login</a></span> -->
              <a *ngIf="action == 2" href="javascript:;" (click)="action = 1">Resend OTP / Edit Email</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer2></app-footer2>