<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed"
        style="background-image: url(../../../../assets/media/14.png">
        <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
            <a routerLink="/" class="mb-12">
                <img alt="Logo" src="./assets/media/logos/logo.png" class="h-40px">
            </a>
            <div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
                <form *ngIf="action == 1" [formGroup]="form" (submit)="submit()"
                    class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate"
                    id="kt_sign_in_form">
                    <div class="text-center mb-10">
                        <h1 class="text-dark mb-3">Sign In</h1>
                        <!-- <div class="text-gray-400 fw-bold fs-4">New Here?
                            <a routerLink="/register" class="link-primary fw-bolder">
                                Create an Account
                            </a>
                        </div> -->
                    </div>
                    <div class="fv-row mb-10 fv-plugins-icon-container">
                        <label class="form-label fs-6 fw-bolder text-dark required">Email</label>
                        <input class="form-control form-control-lg form-control-solid" type="text"
                            formControlName="email" name="email">
                        <div class="fv-plugins-message-container invalid-feedback">
                            <div class="error">
                                <div *ngIf="form.controls.email.touched && form.controls.email.hasError('required')">
                                    Email is required
                                </div>
                                <div *ngIf="form.controls.email.dirty && form.controls.email.errors">
                                    Invalid email
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fv-row mb-10 fv-plugins-icon-container">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fw-bolder text-dark fs-6 mb-0 required">Password</label>
                            <a routerLink="/forgot-password" class="link-primary fs-6 fw-bolder">Forgot Password ?</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid" type="password"
                            formControlName="password" name="password">
                        <div class="fv-plugins-message-container invalid-feedback">
                            <div class="error">
                                <div
                                    *ngIf="form.controls.password.touched && form.controls.password.hasError('required')">
                                    Password is required
                                </div>
                                <div *ngIf="form.controls.password.dirty && form.controls.password.errors">
                                    Password atleast 6 words
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button [disabled]="loading" type="submit" id="kt_sign_in_submit"
                            class="btn btn-lg btn-primary w-100 mb-5">
                            <span *ngIf="!loading">Continue</span>
                            <span *ngIf="loading">Please wait...</span>
                        </button>
                    </div>
                </form>

                <form *ngIf="action == 2" [formGroup]="_2form" (submit)="submit()"
                    class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate"
                    id="kt_sign_in_form" action="#">
                    <div class="text-center mb-10">
                        <h1 class="text-dark mb-3">Two-Factor code</h1>
                    </div>
                    <div class="fv-row mb-10 fv-plugins-icon-container">
                        <label class="form-label fs-6 fw-bolder text-dark">Two-Factor code</label>
                        <input class="form-control form-control-lg form-control-solid" type="text"
                            formControlName="token" name="token">
                        <div class="fv-plugins-message-container invalid-feedback">
                            <div class="error">
                                <div
                                    *ngIf="_2form.controls.token.touched && _2form.controls.token.hasError('required')">
                                    Code is required
                                </div>
                                <div *ngIf="_2form.controls.token.dirty && _2form.controls.token.errors">
                                    Invalid code
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button [disabled]="loading" type="submit" id="kt_sign_in_submit"
                            class="btn btn-lg btn-primary w-100 mb-5">
                            <span *ngIf="!loading">Continue</span>
                            <span *ngIf="loading">Please wait...</span>
                        </button>
                    </div>
                    <div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>