<div class="mainHeaderInner loginPages">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <div class="mainPageTitle">
          <h1>Continue as {{fun.getUserTypeTitle(api.user_types,user_type)}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="midContent loginPage">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="loginPagesBox">
          <div class="swTabs">
            <ul class="nav nav-tabs">
              <li class="nav-item" *ngFor="let user_type_ of api.user_types" (click)="getUserType(user_type_.id)">
                <button [class]="user_type == user_type_.id ? 'nav-link active' : 'nav-link'" type="button">
                  <div class="tabButtons">
                    <i class="fas fa-user-plus"></i> {{ user_type_.title }}
                  </div>
                </button>
              </li>
            </ul>
            <form class="contactPage" [formGroup]="form" (submit)="submit()">
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="logUserName" class="form-label">Name <span class="error">*</span></label>
                  <input type="text" class="form-control" id="logUserName" placeholder="Enter Name"
                    formControlName="name" name="name" />
                  <div class="error">
                    <div *ngIf="form.controls.name.touched && form.controls.name.hasError('required')">
                      Name is required
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mb-3" [hidden]="user_type == 1">
                  <label for="logUseruser_type" class="form-label">Company <span class="error">*</span></label>
                  <input type="text" class="form-control" placeholder="Enter company name" formControlName="company"
                    name="company" />
                  <div class="error">
                    <div *ngIf="form.controls.company.touched && form.controls.company.hasError('required')">
                      Company is required
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                <button type="submit" class="swButton darkBtn mt-3 loginButton" [disabled]="loading">
                  <span *ngIf="!loading">Continue as {{fun.getUserTypeTitle(api.user_types,user_type)}}</span>
                  <span *ngIf="loading">Please wait..</span>
                </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>