<app-header></app-header>
<div class="dashboardMid">
   <app-leftmenu></app-leftmenu>
   <div class="dmRightSide" *ngIf="auth.user.login_method == 'Email'">
      <div class="dmRightSideInner">
         <div class="dInnerHead">
            <div class="diTitle">
               {{'Change Password' | translate}}
            </div>
            <div class="diBreadcrumb">
               <div class="mainPageBreadCrumb">
                  <ul>
                     <li><a routerLink="/dashboard">{{'Dashboard' | translate}}</a></li>
                     <li><a><i class="fas fa-angle-double-right"></i></a></li>
                     <li><a>{{'Change Password' | translate}}</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="dashboardWhiteBox">
            <div class="dBoxTitle">
               <h1>{{'Change Your Password' | translate}}</h1>
            </div>
            <div class="formBox">
               <form class="contactPage" [formGroup]="form" (submit)="submit()">
                  <div class="row">
                     <div class="col-md-6 mb-3">
                        <label class="form-label">{{'Current Password' | translate}} <span
                              class="error">*</span></label>
                        <input type="password" class="form-control" formControlName="old_password"
                           name="old_password" />
                        <!-- <span class="swInputHelpText">Your password must be at least six characters &amp; cannot contain space or match your email address.</span> -->
                        <div class="error">
                           <div
                              *ngIf="form.controls.old_password.touched && form.controls.old_password.hasError('required')">
                              {{'Password is required' | translate}}
                           </div>
                           <div *ngIf="form.controls.old_password.dirty && form.controls.old_password.errors">
                              {{'Invalid password' | translate}}
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6 mb-3">
                        <label class="form-label">{{'New Password' | translate}} <span class="error">*</span></label>
                        <input type="password" class="form-control" formControlName="password" name="password" />
                        <div class="error">
                           <div *ngIf="form.controls.password.touched && form.controls.password.hasError('required')">
                              {{'New password is required' | translate}}
                           </div>
                           <div *ngIf="form.controls.password.dirty && form.controls.password.errors">
                              {{'Invalid password' | translate}}
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row adminFromBtn">
                     <div class="col-md-6 text-left ">
                        <button type="submit" [disabled]="loading" class="swButton darkBtn mt-3 loginButton">
                           <span *ngIf="!loading">{{'Submit' | translate}}</span>
                           <span *ngIf="loading">{{'Please wait..' | translate}}</span>
                        </button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <app-footer></app-footer>
   </div>