<app-header></app-header>

<div class="dashboardMid">
  <app-leftmenu></app-leftmenu>

  <div class="dmRightSide" *ngIf="auth.user.user_type == 1">
    <div class="dmRightSideInner">
      <div class="dInnerHead">
        <div class="diTitle">{{ "Profile" | translate }}</div>
        <div class="diBreadcrumb">
          <div class="mainPageBreadCrumb">
            <ul>
              <li>
                <a routerLink="/dashboard">{{ "Dashboard" | translate }}</a>
              </li>
              <li>
                <a><i class="fas fa-angle-double-right"></i></a>
              </li>
              <li>
                <a>{{ "Profile" | translate }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <form [formGroup]="form" (submit)="submit()">
        <div class="dashboardWhiteBox">
          <div class="dBoxTitle">
            <h1>{{ "My Profile" | translate }}</h1>
          </div>
          <div class="formBox">
            <div class="fbUpload">
              <div class="input-group mb-3">
                <label class="input-group-text" for="pnjUploadL">
                  <input type="file" (change)="selectFile($event)" />
                </label>
                <!-- <label for="pnjUploadL" class="form-label"
                  >Max file size is 1MB, Minimum dimension: 330x200 And Suitable
                  files are .jpg &amp; .png</label
                > -->
              </div>

              <div class="input-group mb-3" *ngIf="auth.user.photo">
                <img
                  src="{{ url }}auth/download/{{ auth.user.photo }}"
                  style="height: 200px"
                />
              </div>
              <!-- <div class="input-group mb-3">
                <label class="input-group-text" for="pnjUploadC"
                  >Browse Cover</label
                >
                <label for="pnjUploadC" class="form-label"
                  >Max file size is 1MB, Minimum dimension: 330x200 And Suitable
                  files are .jpg &amp; .png</label
                >
              </div> -->
            </div>
            <div class="contactPage">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label class="form-label"
                    >{{ "Name" | translate }}
                    <span class="error">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter name"
                    formControlName="name"
                    name="name"
                  />
                  <div class="error">
                    <div
                      *ngIf="
                        form.controls.name.touched &&
                        form.controls.name.hasError('required')
                      "
                    >
                      {{ "Field is required" | translate }}
                    </div>
                    <div
                      *ngIf="
                        form.controls.name.dirty && form.controls.name.errors
                      "
                    >
                      {{ "Invalid Field" | translate }}
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label class="form-label"
                    >{{ "Email Address" | translate }}
                    <span class="error">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter email"
                    formControlName="email"
                    name="email"
                    [readonly]="
                      auth.user.login_method == 'Google' ||
                      auth.user.login_method == 'Apple'
                    "
                  />
                  <div class="error">
                    <div
                      *ngIf="
                        form.controls.email.touched &&
                        form.controls.email.hasError('required')
                      "
                    >
                      {{ "Email is required" | translate }}
                    </div>
                    <div
                      *ngIf="
                        form.controls.email.dirty && form.controls.email.errors
                      "
                    >
                      {{ "Invalid email" | translate }}
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <label class="form-label"
                    >{{ "Phone" | translate }}
                    <span class="error">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Phone"
                    formControlName="phone"
                    name="phone"
                  />
                  <div class="error">
                    <div
                      *ngIf="
                        form.controls.phone.touched &&
                        form.controls.phone.hasError('required')
                      "
                    >
                      {{ "Phone is required" | translate }}
                    </div>
                    <div
                      *ngIf="
                        form.controls.phone.dirty && form.controls.phone.errors
                      "
                    >
                      {{ "Invalid Phone" | translate }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dashboardWhiteBox mt-4">
          <div class="dBoxTitle">
            <h1>{{ "Working History" | translate }}</h1>
          </div>
          <div class="formBox">
            <div class="contactPage">
              <div class="row">
                <div class="col-md-12">
                  <label class="form-label"
                    >{{ "Working History" | translate }}
                    <span class="error">*</span></label
                  >
                  <textarea
                    rows="5"
                    class="form-control"
                    placeholder="works"
                    formControlName="works"
                    name="works"
                  ></textarea>
                  <div class="error">
                    <div
                      *ngIf="
                        form.controls.works.touched &&
                        form.controls.works.hasError('required')
                      "
                    >
                      {{ "Field is required" | translate }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dashboardWhiteBox mt-4">
          <div class="dBoxTitle">
            <h1>{{ "Education" | translate }}</h1>
          </div>
          <div class="formBox">
            <div class="contactPage">
              <div class="row">
                <div class="col-md-12">
                  <label class="form-label"
                    >{{ "Educations" | translate }}
                    <span class="error">*</span></label
                  >
                  <textarea
                    rows="5"
                    class="form-control"
                    placeholder="educations"
                    formControlName="educations"
                    name="educations"
                  ></textarea>
                  <div class="error">
                    <div
                      *ngIf="
                        form.controls.educations.touched &&
                        form.controls.educations.hasError('required')
                      "
                    >
                      {{ "Field is required" | translate }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dashboardWhiteBox mt-4">
          <div class="dBoxTitle">
            <h1>{{ "Professional Summary" | translate }}</h1>
          </div>
          <div class="formBox">
            <div class="contactPage">
              <div class="row">
                <div class="col-md-12">
                  <label class="form-label"
                    >{{ "Add Summary" | translate }}
                    <span class="error">*</span></label
                  >
                  <textarea
                    rows="5"
                    class="form-control"
                    placeholder="Summary"
                    formControlName="summary"
                    name="summary"
                  ></textarea>
                  <div class="error">
                    <div
                      *ngIf="
                        form.controls.summary.touched &&
                        form.controls.summary.hasError('required')
                      "
                    >
                      {{ "Field is required" | translate }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dashboardWhiteBox mt-4">
          <!-- <div class="dBoxTitle">
                                            <h1>Social Network</h1>
                                        </div> -->
          <div class="formBox">
            <div class="contactPage">
              <div class="row adminFromBtn">
                <div class="col-md-12 text-center">
                  <button
                    type="submit"
                    class="swButton darkBtn mt-3 loginButton"
                    [disabled]="loading"
                  >
                    <span *ngIf="!loading">{{
                      "Save Information" | translate
                    }}</span>
                    <span *ngIf="loading">{{
                      "Please wait.." | translate
                    }}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <app-footer></app-footer>
  </div>
</div>
