<app-header2></app-header2>
<div class="mainHeader">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="mhLeft">
          <h1 class="text-center">{{'Find Your Perfect Job Match...' | translate}}</h1>
          <h4 class="text-center">
            {{'Find Jobs, Employment &amp; Career Opportunities!' | translate}}
          </h4>
          <div class="findJobBox">
            <form
              class="row gx-3 gy-2 align-items-center"
              [formGroup]="form"
              (submit)="submit()"
            >
              <div class="col-sm-5 haveIcon">
                <input
                  type="text"
                  class="form-control"
                  formControlName="title"
                  name="title"
                  placeholder="Job title, Keywords, or Company"
                />
                <i class="fas fa-search"></i>
              </div>
              <div class="col-sm-5 haveIcon">
                <input
                  type="text"
                  class="form-control"
                  placeholder="City or Postcode"
                  formControlName="zip_code"
                  name="zip_code"
                />
                <i class="fas fa-map-marker-alt"></i>
              </div>
              <div class="col-sm-2">
                <button
                  type="submit"
                  class="findJobBtn btnDark btn btn-primary"
                >
                {{'Find Jobs' | translate}}
                </button>
              </div>
            </form>
          </div>
          <div class="popSearchs">
            <strong
              >Suggestion: Garments, Textile, Driving, Motor Technician ,Design,
              Creative</strong
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="midContent">
  <div class="focAboutUs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="focAboutUsLeft">
            <div class="focTitle">
              <h2>{{'How It Works?' | translate}}</h2>
              <span>{{'Job for anyone, anywhere' | translate}}</span>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="hiwBox">
                  <img src="assets/images/hiw1.png" />
                  <h2>{{'Find Jobs In' | translate}}<br />{{'Your Location' | translate}}</h2>
                </div>
              </div>
              <div class="col-md-4">
                <div class="hiwBox">
                  <img src="assets/images/hiw2.png" />
                  <h2>{{'Apply On' | translate}} <br />{{'The Job' | translate}}</h2>
                </div>
              </div>
              <div class="col-md-4">
                <div class="hiwBox">
                  <img src="assets/images/hiw3.png" />
                  <h2>{{'Talk To Employers' | translate}} <br />{{'Directly' | translate}}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="focFeatures">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="focFeaturesBox fbLeft">
            <div class="focFBDate">
              <h3>{{'Are You Employer?' | translate}}</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
              <a routerLink="/login">{{'Post A Jobs' | translate}}</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="focFeaturesBox fbRight">
            <div class="focFBDate">
              <h3>{{'Are You Job Seeker?' | translate}}</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
              <a routerLink="/login">{{'Find A Jobs' | translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer2></app-footer2>
