<div id="loader" *ngIf="loading"></div>

<app-header2></app-header2>

<div class="mainHeaderInner loginPages">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <div class="mainPageTitle">
          <h1>{{ "Log in to your account" | translate }}</h1>
          <!-- <div class="loginText" *ngIf="action == 1">
            By signing in to your account, you agree to Job Portal<br />
            <a href="javascript:;">Terms of Service</a> & consent to our <a href="javascript:;">Cookie Policy</a> & <a
              href="javascript:;">Privacy
              Policy</a>.
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="midContent loginPage">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div *ngIf="action == 1">
          <div class="loginPagesBox">
            <form class="contactPage" [formGroup]="form" (submit)="submit()">
              <div class="row">
                <div class="haveAccountOr text-center">
                  <div class="row">
                    <div class="col-md-12">
                      <a href="javascript:;" (click)="signInWithGoogle()">
                        <svg
                          style="
                            width: 24px;
                            height: 24px;
                            margin-right: 8px;
                            margin-top: -2px;
                          "
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          viewBox="0 0 48 48"
                        >
                          <defs>
                            <path
                              id="a"
                              d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"
                            />
                          </defs>
                          <clipPath id="b">
                            <use xlink:href="#a" overflow="visible" />
                          </clipPath>
                          <path
                            clip-path="url(#b)"
                            fill="#FBBC05"
                            d="M0 37V11l17 13z"
                          />
                          <path
                            clip-path="url(#b)"
                            fill="#EA4335"
                            d="M0 11l17 13 7-6.1L48 14V0H0z"
                          />
                          <path
                            clip-path="url(#b)"
                            fill="#34A853"
                            d="M0 37l30-23 7.9 1L48 0v48H0z"
                          />
                          <path
                            clip-path="url(#b)"
                            fill="#4285F4"
                            d="M48 48L17 24l-4-3 35-10z"
                          />
                        </svg>
                        {{ "Continue With Google" | translate }}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="haOr">
                  <span class="haorLine"></span>
                  <span class="haorLineText">or</span>
                  <span class="haorLine"></span>
                </div>
                <div class="col-md-12 mb-3">
                  <label for="logUserName" class="form-label"
                    >{{ "Email Address" | translate }}
                    <span class="error">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="logUserName"
                    placeholder="{{'Enter Email' | translate}}"
                    formControlName="email"
                    name="email"
                  />
                  <div class="error">
                    <div
                      *ngIf="
                        form.controls.email.touched &&
                        form.controls.email.hasError('required')
                      "
                    >
                      {{ "Email is required" | translate }}
                    </div>
                    <div
                      *ngIf="
                        form.controls.email.dirty && form.controls.email.errors
                      "
                    >
                      {{ "Invalid email" | translate }}
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <label for="cpPassword" class="form-label"
                    >{{ "Password" | translate }}
                    <span class="error">*</span></label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="cpPassword"
                    placeholder="{{'Enter Password' | translate}}"
                    formControlName="password"
                    name="password"
                  />
                  <div class="error">
                    <div
                      *ngIf="
                        form.controls.password.touched &&
                        form.controls.password.hasError('required')
                      "
                    >
                      {{ "Password is required" | translate }}
                    </div>
                    <div
                      *ngIf="
                        form.controls.password.dirty &&
                        form.controls.password.errors
                      "
                    >
                      {{ "Password atleast 6 words" | translate }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3 form-check">
                      <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1" /> -->
                      <!-- <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="forgotPassword">
                      <a routerLink="/forgot-password">{{
                        "Forgot password?" | translate
                      }}</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <button
                    type="submit"
                    class="swButton darkBtn mt-3 loginButton"
                    [disabled]="loading"
                  >
                    <span *ngIf="!loading">{{ "Submit" | translate }}</span>
                    <span *ngIf="loading">{{
                      "Please wait.." | translate
                    }}</span>
                  </button>
                </div>
              </div>
            </form>
            <div class="loginFormBtmSec">
              <div class="haveAccount">
                {{'Don\'t have an account?' | translate}}
                <a routerLink="/register">{{ 'Sign Up' | translate }}</a>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="action == 2">
          <div class="loginPagesBox">
            <form class="contactPage" [formGroup]="_2form" (submit)="submit()">
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="logUserName" class="form-label"
                    >{{ "Code" | translate }}
                    <span class="error">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="logUserName"
                    placeholder="{{'Enter Code' | translate}}"
                    formControlName="token"
                    name="token"
                  />
                </div>
                <div class="col-md-12">
                  <button
                    type="submit"
                    class="swButton darkBtn mt-3 loginButton"
                    [disabled]="loading"
                  >
                    <span *ngIf="!loading">{{ "Submit" | translate }}</span>
                    <span *ngIf="loading">{{
                      "Please wait.." | translate
                    }}</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer2></app-footer2>
