<div class="preNavbarB hiddenMobile">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="pn1Left">
            <div class="brandLogo">
              <a routerLink="/home" class="navbar-brand"><img src="./assets/images/Logo_Header.png" class="img-fluid" /></a>
            </div>
          </div>
        </div>
        <div class="col-md-9 d-flex align-items-center align-self-stretch justify-content-end">
          <div class="pn1Right">
            <select (change)="selectLang($event)">
              <option value="en" [selected]="lang == 'en'">English</option>
              <option value="nl" [selected]="lang == 'nl'">Dutch</option>
            </select>
            <!-- <span class="sacButton btnFlot"><a>EN <i class="fas fa-caret-down"></i></a></span> -->
            <!-- <span class="sacButton btnFlot"><a>|</a></span>
            <span class="sacButton btnFlot"><a routerLink="/login">Are You Recruiting?</a></span> -->
            <span class="sacButton btnC1" *ngIf="!auth.is_login">
              <a routerLink="/login">{{'Login' | translate}}</a>
            </span>
            
            <span class="sacButton">
              <a routerLink="/register" *ngIf="!auth.is_login">{{'Register' | translate}}</a>
              <a routerLink="/dashboard" *ngIf="auth.is_login">{{'Dashboard' | translate}}</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="preNavbarB navbarMenu">
    <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex align-items-center align-self-stretch justify-content-end">
          <nav class="navbar navbar-expand-lg navbarBM">
            <div class="navbarBMmobile">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="mobileLogoBtn brandLogo">
                <a class="navbar-brand"><img src="./assets/images/Logo_Header.png" class="img-fluid" /></a>
              </div>
              <!-- <span class="mobileCallBtn"><i class="fas fa-phone-alt"></i> 123 456 7890</span> -->
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav w-100">
                  <li class="nav-item"><a routerLink="/search" class="nav-link">{{'Jobs' | translate}}</a></li>
                  <li class="nav-item"><a routerLink="/about" class="nav-link">{{'About Us' | translate}}</a></li>
                  <!-- <li class="nav-item"><a routerLink="/contact" class="nav-link">Contact Us</a></li> -->
                  <li class="nav-item"><a routerLink="/help" class="nav-link">{{'Help/FAQ' | translate}}</a></li>
                </ul>
              </div>
            </div>
          </nav>
          <!--<div class="pn1Right2">
            <a routerLink="/login"><img src="./assets/images/bellIcon.png" /></a>
            <a routerLink="/login"><img src="./assets/images/starIcon.png" /></a>
          </div>-->
        </div>
      </div>
    </div>
  </div>